# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Video & media files
*.webm
*.mp4
*.mov
*.mkv
*.avi
*.flv

# Logs
*.log
nohup.out
.system_generated/

# IDE / Editor
.vscode/
.idea/
*.swp
