[Desktop Entry]
Name=Video Converter
Comment=Chuyển đổi video WebM, MP4, MOV chất lượng cao
Exec=/home/dat/.local/bin/vid-gui
Icon=/home/dat/Applications/video-converter/assets/icon.png
Terminal=false
Type=Application
Categories=AudioVideo;Video;AudioVideoEditing;
Keywords=vid;video;converter;convert;webm;mp4;mov;transcode;
StartupNotify=true
